python_version == "3.10"
fastapi
uvicorn
sqlalchemy
pymysql
python-jose
pydantic
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
cryptography
geopy
pillow
numpy
tflite-runtime==2.5.0
python-dotenv
